# Dependencies
node_modules/

# Log files
/*.log

# Build files
dist/
storybook-static/

# OS Files
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
